@use "var";

html {
  box-sizing: border-box;
  letter-spacing: 0.05em;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  line-height: 1;
}

img {
  vertical-align: middle;
  border-style: none;
  width: 100%;
  height: auto;
}

picture,
img {
  display: inline-block;
  max-width: 100%;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
  letter-spacing: inherit;
}

.u-font-en {
  font-family: 'Cormorant Garamond', serif;
  font-optical-sizing: auto;
  font-weight: var.$fw-bold;
}

.u-font-jp {
  font-family: "Zen Old Mincho", serif;
}