@use "_var.scss";
@use "sass:math";

// responsive
@mixin pc {
  @media (min-width: var.$breakpoint) {
    @content;
  }
}

@mixin sp {
  @media (max-width: (var.$breakpoint - 1)) {
    @content;
  }
}

// px to vw
// usage example: font-size: vw(16);
@function vw($size-px, $design-size: var.$dsSp) {
  @return math.div($size-px, $design-size) * 100vw;
}

// font-set
@mixin fs-xlarge-40 {
  line-height: 1.2;

  @include pc {
    font-size: 40px;
  }

  @include sp {
    font-size: vw(40, var.$dsSp);
  }
}

@mixin fs-large-32 {
  line-height: 1.2;

  @include pc {
    font-size: 32px;
  }

  @include sp {
    font-size: vw(32, var.$dsSp);
  }
}

@mixin fs-medium-24 {
  line-height: 1.2;

  @include pc {
    font-size: 24px;
  }

  @include sp {
    font-size: vw(24, var.$dsSp);
  }
}

@mixin fs-medium-18 {
  line-height: 1.2;

  @include pc {
    font-size: 18px;
  }

  @include sp {
    font-size: vw(18, var.$dsSp);
  }
}

@mixin fs-normal-16 {
  line-height: 1.5;

  @include pc {
    font-size: 16px;
  }

  @include sp {
    font-size: vw(16, var.$dsSp);
  }
}

@mixin fs-small-12 {
  line-height: 1.2;

  @include pc {
    font-size: 12px;
  }

  @include sp {
    font-size: vw(12, var.$dsSp);
  }
}