// design size
$dsPc: 1366;
$dsSp: 375;

// break point
$breakpoint: 768px;

// color
$color-black: #000000;
$color-white: #fffeef;
$color-gray: #b9b6ac;
$color-beige: #f4eecb;
$color-dark-beige: #675414;
$color-yellow: #FBF0C0;
$color-light-green: #717127;
$color-dark-green: #76600d;


// font weight
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;