// design size
$dsPc: 1366;
$dsSp: 375;

// break point
$breakpoint: 768px;

// color
$color-black: #000000;
$color-white: #ffffff;
$color-gray: #D4D0C8;
$color-beige: #F9F4E7;
$color-yellow: #FBF0C0;
$color-light-green: #8B8B30;
$color-dark-green: #535338;
$color-brown: #76600d;


// font weight
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;