// design size
$dsPc: 1366;
$dsSp: 375;

// break point
$breakpoint: 768px;

// color
$color-black: #000000;
$color-white: #ffffff;
$color-beige: #F9F4E7;
$color-yellow: #FBF0C0;
$color-light-green: #A8A872;
$color-dark-green: #535338;


// font weight
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;